<?xml version="1.0" encoding="UTF-8"?>
<arcane-config code-name="Hydro">
	<time-loops>
		<time-loop name="HydroLoop">
			<title>Hydro</title>
			<description>Boucle en temps</description>

			<modules>
				<module name="Hydro" need="required" />
			</modules>

			<entry-points where="compute-loop">
				<entry-point name="Hydro.Compute" />
			</entry-points>
		</time-loop>
	</time-loops>
</arcane-config>
