<?xml version="1.0" encoding="UTF-8"?>
<arcane-config code-name="IWithoutS">
	<time-loops>
		<time-loop name="IWithoutSLoop">
			<title>IWithoutS</title>
			<description>Boucle en temps de l'exemple Arcane IWithoutS</description>

			<modules>
				<module name="Hydro" need="required" />
				<module name="ArcanePostProcessing" need="required" />
				<module name="ArcaneCheckpoint" need="required" />
			</modules>

			<entry-points where="compute-loop">
				<entry-point name="Hydro.ComputeEos" />
				<entry-point name="Hydro.ComputeNoPropertyInterf" />
				<entry-point name="Hydro.ComputeRefPropertyInterf" />				
			</entry-points>
		</time-loop>
	</time-loops>
</arcane-config>
