<?xml version="1.0" encoding="UTF-8"?>
<arcane-config code-name="Calculator">
	<time-loops>
		<time-loop name="CalculatorLoop">
			<title>Calculator</title>
			<description>Boucle en temps de l'exemple Arcane Calculator</description>

			<modules>
				<module name="Calculator" need="required" />
				<module name="ArcanePostProcessing" need="required" />
				<module name="ArcaneCheckpoint" need="required" />
			</modules>

			<entry-points where="init"/>

			<entry-points where="compute-loop">
				<entry-point name="Calculator.Compute" />
			</entry-points>
		</time-loop>
	</time-loops>
</arcane-config>
