<?xml version="1.0" encoding="UTF-8"?>
<arcane-config code-name="Support">
	<time-loops>
		<time-loop name="SupportLoop">
			<title>Support</title>
			<description>Boucle en temps de l'exemple Arcane Support</description>

			<singleton-services>
				<service name="PerfectGas" need="required"/>
			</singleton-services>
			
			<modules>
				<module name="Hydro" need="required" />
				<module name="ArcanePostProcessing" need="required" />
				<module name="ArcaneCheckpoint" need="required" />
			</modules>

			<entry-points where="compute-loop">
				<entry-point name="Hydro.Compute" />
			</entry-points>
		</time-loop>
	</time-loops>
</arcane-config>
